.about-hero {
    height: 100%;
    height: 15rem;
    margin-bottom: 2rem;
}

.dropdown-wrapper {
    padding: 0 3rem;

    .dropdown {
        margin-bottom: 1rem;
    }
}

@media only screen and (max-width: 768px) {
    .dropdown-wrapper {
        padding: 0;
    }
}