@import "../../variables.scss";

.rent-hero {
    width: 100%;
    height: 25rem;
}

.section-information {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 1.5rem;
    color: $primary-color;

    
    .quick-information {
        h1, h5 {
            margin-bottom: .1rem;
            font-weight: 500;
        }

        h1 {
            font-size: 1.5rem;
            margin-top: 0;
        }

        h5 {
            margin-top: 0;
            font-size: .8rem;
        }
    }

    .host {
        display: flex;
        align-items: center;
        gap: .5rem;
        justify-content: flex-end;

        img {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
        }

        p {
            margin: 0;
            font-size: .8rem;
            font-weight: 500;
            width: min-content;
        }
    }
    
    .tags {
        display: flex;
        align-items: center;
        gap: .3rem;

        .tag {
            min-width: 3rem;
            padding: .1rem 1rem;
            font-size: .8rem;
            background-color: $primary-color;
            border-radius: calc($border-radius - 5px);
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    
    .rate {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: .5rem;

        svg {
            width: 1rem;
            height: 1rem;
        }
    }
}

.additional-information {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4rem;    
}

@media only screen and (max-width: 768px) {
    .rent-hero {
        height: 20rem;
    }

    .section-information {
        grid-template-rows: repeat(3, 1fr);

        .quick-information {
            grid-column: 1 / 3;
            grid-row: 1 / 2;
        }

        .tags {
            grid-column: 1 / 3;
            grid-row: 2 / 3;
        }

        .rate {
            grid-column: 1 / 2;
            grid-row: 3 / 4;
            justify-content: flex-start;
        }

        .host {
            grid-column: 2 / 3;
            grid-row: 3 / 4;
        }
    }

    .additional-information {
        flex-direction: column;
        gap: 0;
    }
}