@import '../../variables.scss';

.not-found-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $primary-color;
    height: $fullfilled-height;

    h1 {
        font-size: 13rem;
        font-weight: 700;
        margin-bottom: 2rem;
        margin-top: 0;
    }

    h2 {
        font-weight: 500;
        margin-bottom: 6rem;
    }

    a {
        text-decoration: underline;
    }
}