@import '../../variables.scss';

.not-found-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $primary-color;
    height: $fullfilled-height;

    h1 {
        font-size: 13rem;
        font-weight: 700;
        margin-bottom: 2rem;
        margin-top: 0;
    }

    h2 {
        font-weight: 500;
        margin-bottom: 6rem;
    }

    a {
        text-decoration: underline;
    }
}

@media only screen and (max-width: 768px) {
    .not-found-layout {
        height: unset;
        padding: 5rem 0;

        h1 {
            font-size: 8rem;
        }
        
        h2 {
            text-align: center;
        }
    }
}